{% extends "base.html" %}
{% block title%}9Animebay - AboutUs{%endblock%}

{%block styles%}
    <link rel="stylesheet" href="../static/css/about.css" />
{%endblock%}

{% block body %}
<section id="body">
    <div class="container-xl py-5">
      <div class="content text-white row justify-content-center align-items-center text-left">
        <div class="col-md-8 text-center">
            <h2 class="headding">Meet The Team</h2>
            <hr style="width: 20%; margin: auto; background-color: #aaa; height: 3px; border-radius: 50%;" />
            <p class="mt-4">
                "We are a team of four, who developed a NCF and BPR model to demonstrate how a recommendation systems work on real world dataset."
            </p>
            <div class="notice-reco mt-5"><div class="anime-icon"></div><div class="notice-reco-text">Check out our NCF and BPR Recommendation System <a href="/recommend">Click Here</a></div></div>
            <div class="profile-card row ms-auto">
                <div class="profile col-md-12 d-flex">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-male.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info">
                        <p class="name">Akshayaswami S.Angadi</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS400</p>
                        <p class="college">TCE, Gadag</p>
                        <div class="social-cions d-flex justify-content-start">
                            <a href=""><i class="fa-brands fa-linkedin-in fa-icon"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp fa-icon"></i></a>
                            <a href=""><i class="fa-regular fa-envelope fa-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-card row me-auto">
                <div class="profile col-md-12 d-flex">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-male.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info">
                        <p class="name">Shafi M.Dharawad</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS403</p>
                        <p class="college">TCE, Gadag</p>
                        <div class="social-cions d-flex">
                            <a href=""><i class="fa-brands fa-linkedin-in fa-icon"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp fa-icon"></i></a>
                            <a href=""><i class="fa-regular fa-envelope fa-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-card row ms-auto">
                <div class="profile col-md-12 d-flex">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-female.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info">
                        <p class="name">Sushila B.Shivashimpiger</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS405</p>
                        <p class="college">TCE, Gadag</p>
                        <div class="social-cions d-flex">
                            <a href=""><i class="fa-brands fa-linkedin-in fa-icon"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp fa-icon"></i></a>
                            <a href=""><i class="fa-regular fa-envelope fa-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-card row me-auto">
                <div class="profile col-md-12 d-flex">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-male.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info">
                        <p class="name">Shubham R.Basava</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS404</p>
                        <p class="college">TCE, Gadag</p>
                        <div class="social-cions d-flex">
                            <a href=""><i class="fa-brands fa-linkedin-in fa-icon"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp fa-icon"></i></a>
                            <a href=""><i class="fa-regular fa-envelope fa-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>









<!-- <section id="body">
    <div class="container-xl py-5">
      <div class="content text-white row justify-content-center align-items-center text-left">
        <div class="col-md-12 text-center">
            <h2 class="headding">Meet The Team</h2>
            <hr style="width: 20%; margin: auto; background-color: #d9d9d9; height: 3px; border-radius: 50%;" />
            <p class="mt-4">
                "We are a team of four, who developed a NCF and BPR model to showcase how recommendation systems work for animes and movies."
            </p>
            <div class="profile-cards row justify-content-around align-items-center">
                <div class="profile col-md-2">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-male.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info">
                        <p class="name">Akshayaswami S.A</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS400</p>
                        <p class="college">TCE, Gadag</p>
                    </div>
                </div>
                <div class="profile col-md-2">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-male.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info text-left">
                        <p class="name">Shafi M.D</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS403</p>
                        <p class="college">TCE, Gadag</p>
                    </div>
                </div>
                <div class="profile col-md-2">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-female.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info text-left">
                        <p class="name">Sushila B.S</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS405</p>
                        <p class="college">TCE, Gadag</p>
                    </div>
                </div>
                <div class="profile col-md-2">
                    <div class="avatar">
                        <img src="../static/assets/avatar-placeholder-male.png" alt="Akshayaswami-pfp" class="fluid-img rounded-circle" height="auto" width="150px">
                    </div>
                    <div class="info text-left">
                        <p class="name">Shubham R.B</p>
                        <p class="major">Computer Science & Engg.</p>
                        <p class="usn">2TG20CS404</p>
                        <p class="college">TCE, Gadag</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section> -->
{%endblock%}

