{% extends "base.html" %}
{% block title%}9Animebay - Home{%endblock%}

{%block styles%}
<link rel="stylesheet" href="../static/css/home.css" />
{%endblock%}

{% block body %}
<div id="body">
  <!-- Carousel Container -->
  <div class="hotest container">
    <div id="hotest" class="swiper-container swiper-container-initialized swiper-container-horizontal"
      style="cursor: grab;">
      <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-5148px, 0px, 0px);">
        <div class="swiper-slide item swiper-slide-duplicate" data-swiper-slide-index="8" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="ONE PIECE">ONE PIECE</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="dub fas fa-microphone"></i> <i class="date">Oct 20,
                1999</i> </div>
            <div class="synopsis">Gol D. Roger was known as the "Pirate King," the strongest and most infamous being to
              have sailed the Grand Line. The capture and execution of Roger by the World Government brought a change
              throughout the world. His last words before his death reveal...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=21, title='ONE PIECE') }}" class="btn play btn-primary">View
                more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/5/58/5806a16f2892768b4930c39ebf6ce756.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item" data-swiper-slide-index="0" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="Dr. STONE: NEW WORLD">Dr. STONE New World</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="dub fas fa-microphone"></i> <i class="date">Apr 06,
                2023</i> </div>
            <div class="synopsis">With the ambitious Ryuusui Nanami on board, Senkuu Ishigami and his team are almost
              ready to sail the seas and reach the other side of the world—where the bizarre green light that petrified
              humanity originated. Thanks to the revival of a skillful che...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=48549, title='Dr. STONE New World') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/b/b1/b1b7ede4d61f76f095b1ddf6e69a7fe5.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item swiper-slide-prev" data-swiper-slide-index="1" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title"
              data-jp="Isekai One Turn Kill Nee-san: Ane Douhan no Isekai Seikatsu Hajimemashita">My One-Hit Kill Sister
            </h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="date">Apr 08, 2023</i> </div>
            <div class="synopsis">"It wasn't me who was the strongest in another world, but my sister?!" As a result of
              an accident in the real world, Asahi Ikusaba is transported to another world. He tries to enjoy the
              different world he imagined, but his abilities prove to be the w...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=51219, title='My One-Hit Kill Sister') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/a/a4/a45ea4d94ce07fd8cb93e8f28f71f460.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item swiper-slide-active" data-swiper-slide-index="2" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="MASHLE">MASHLE: MAGIC AND MUSCLES</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="date">Apr 08, 2023</i> </div>
            <div class="synopsis">To everyone else in his magic-dominated world, the young and powerless Mash Burnedead
              is a threat to the gene pool and must be purged. Living secretly in the forest, he spends every day
              training his body, building muscles strong enough to compete wit...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=52211, title='MASHLE: MAGIC AND MUSCLES') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/a/a9/a9b1f759ee2b267d54b5e190210183a7.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item swiper-slide-next" data-swiper-slide-index="3" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="Jigokuraku">Hell’s Paradise</h2>
            <div class="meta icons"> <i class="rating">R</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="dub fas fa-microphone"></i> <i class="date">Apr 01,
                2023</i> </div>
            <div class="synopsis">Gabimaru the Hollow, a ninja of Iwagakure Village known for being cold and
              emotionless, was set up by his fellow ninja and is now on death row. Tired of killing and betrayal, he
              wants to die. However, no method of execution works on him because as mu...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=46569, title='Hell’s Paradise') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/e/e5/e5de34e1e4b224118cd8590c5a351ee6.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item" data-swiper-slide-index="4" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="Megami no Café Terrace">The Café Terrace and Its Goddesses</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="date">Apr 08, 2023</i> </div>
            <div class="synopsis">When Hayato's grandmother passed, he planned to sell her rundown café on the shore—not
              realizing that it was also home to five young women who call themselves her family?! Their desperation to
              keep the café open convinces Hayato to give it a shot...b...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=52973, title='The Café Terrace and Its Goddesses') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/7/7d/7db43a3ab90bb2d72271095e4a13fd1e.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item" data-swiper-slide-index="5" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title"
              data-jp="Isekai de Cheat Skill wo Te ni Shita Ore wa, Genjitsu Sekai wo mo Musou Suru: Level Up wa Jinsei wo Kaeta">
              I Got a Cheat Skill in Another World and Became Unrivaled in The Real World, Too</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="dub fas fa-microphone"></i> <i class="date">Apr 07,
                2023</i> </div>
            <div class="synopsis">A chance to come back! A mysterious door stands open, inviting a boy who's been
              brutally bullied all his life to take a courageous step forward into the unknown. On the other side, he
              finds a hoard of priceless artifacts and a world as filled with ma...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=52830, title='I Got a Cheat Skill in Another World and Became Unrivaled in The Real World, Too') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/5/5e/5e85ca932f49b19e457d2b198124530c.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item" data-swiper-slide-index="6" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="[Oshi no Ko]">Oshi No Ko</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="date">Apr 12, 2023</i> </div>
            <div class="synopsis">Sixteen-year-old Ai Hoshino is a talented and beautiful idol who is adored by her
              fans. She is the personification of a pure, young maiden. But all that glitters is not gold. Gorou Amemiya
              is a countryside gynecologist and a big fan of Ai. So when th...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=52034, title='Oshi No Ko') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/a/ac/ac328030476f399d5513a6d5f4dc325c.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item" data-swiper-slide-index="7" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="Kimetsu no Yaiba: Katanakaji no Sato-hen">Demon Slayer: Kimetsu no Yaiba
              Swordsmith Village Arc</h2>
            <div class="meta icons"> <i class="rating">R</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="date">Apr 09, 2023</i> </div>
            <div class="synopsis">Swordsmith Village Arc of Kimetsu no Yaiba....</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=51019, title='Demon Slayer: Kimetsu no Yaiba Swordsmith Village Arc') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/2/29/296d2e5f02e3af48aea3750e05d9ce81.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item" data-swiper-slide-index="8" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="ONE PIECE">ONE PIECE</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="dub fas fa-microphone"></i> <i class="date">Oct 20,
                1999</i> </div>
            <div class="synopsis">Gol D. Roger was known as the "Pirate King," the strongest and most infamous being to
              have sailed the Grand Line. The capture and execution of Roger by the World Government brought a change
              throughout the world. His last words before his death reveal...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=21, title='ONE PIECE') }}" class="btn play btn-primary">View
                more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/5/58/5806a16f2892768b4930c39ebf6ce756.jpg');">
            </div>
          </div>
        </div>
        <div class="swiper-slide item swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 1716px;">
          <div class="info">
            <h2 class="title d-title" data-jp="Dr. STONE: NEW WORLD">Dr. STONE New World</h2>
            <div class="meta icons"> <i class="rating">PG 13</i> <i class="quality">HD</i><i
                class="sub fas fa-closed-captioning"></i> <i class="dub fas fa-microphone"></i> <i class="date">Apr 06,
                2023</i> </div>
            <div class="synopsis">With the ambitious Ryuusui Nanami on board, Senkuu Ishigami and his team are almost
              ready to sail the seas and reach the other side of the world—where the bizarre green light that petrified
              humanity originated. Thanks to the revival of a skillful che...</div>
            <div class="actions">
              <a href="{{ url_for('routes.anime', anime_id=48549, title='Dr. STONE New World') }}"
                class="btn play btn-primary">View more <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
          <div class="image">
            <div
              style="background-image: url('https://static.bunnycdn.ru/i/cache/images/b/b1/b1b7ede4d61f76f095b1ddf6e69a7fe5.jpg');">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
          class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span
          class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
          aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
          aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
          aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
          aria-label="Go to slide 6"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
          aria-label="Go to slide 7"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
          aria-label="Go to slide 8"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
          aria-label="Go to slide 9"></span></div> <span class="swiper-notification" aria-live="assertive"
        aria-atomic="true"></span>
    </div>
  </div>
  <!-- Carousel Close -->
  <!-- Body Content -->
  <div class="container">
    <div class="aside-wrapper px-3">
      <!-- Main -->
      <aside class="main">
        <section id="recent-update">
          <div class="notice-reco"><div class="anime-icon"></div><div class="notice-reco-text">Check out our NCF and BPR Recommendation System <a href="/recommend">Click Here</a></div></div>
          <div class="head">
            <div class="title mr-3">Currently Airing</div>
          </div>
          <div class="body" style="opacity: 1;">
            <div class="ani items">
              <!-- 4 Rows an 5 Column Grid -->
              {% for j in range(3) %}
              <div class="row justify-content-center align-items-center" style="padding: 0 10px;">
                {% for i in range(6) %}
                {% set index = j*6 + i %}
                {% if index < 18 %} <div class="item col">
                  <div class="ani poster">
                    <a
                      href="{{ url_for('routes.anime', anime_id=airing_animes[index]['anime_id'], title=airing_animes[index]['title']) }}">
                      <img src="{{ airing_animes[index]['image_url'] }}" alt="{{ airing_animes[index]['title'] }}">
                      <div class="meta">
                        <div class="inner">
                          <div class="left">
                            <span class="ep-status score"><i class="fa-sharp fa-solid fa-bolt"></i><span> {{
                                airing_animes[index]['score'] }}</span></span>
                            <span class="ep-status total"><span>{{ airing_animes[index]['episodes'] }}</span></span>
                          </div>
                          <div class="right">{{ airing_animes[index]['type'] }}</div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a class="name d-title"
                      href="{{ url_for('routes.anime', anime_id=airing_animes[index]['anime_id'], title=airing_animes[index]['title']) }}">{{
                      airing_animes[index]['title'] }}</a>
                  </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </section>
      </aside>

      <!-- Sidebar -->
      <aside class="sidebar">
        <section id="popular-anime">
          <div class="head">
            <div class="title">Popular anime</div>
          </div>
          <div class="body">
            <div class="tab-content">
              <div class="scaff side items">
                {% for i in range(9) %}
                <div class="row justify-content-center align-items-center" style="padding: 0 10px;">
                  <a class="item rank{{i+1}} col"
                    href="{{ url_for('routes.anime', anime_id=popular_animes[i]['anime_id'], title=popular_animes[i]['title']) }}">
                    <div class="inner">
                      <div class="rank"></div>
                      <div class="poster">
                        <span>
                          <img src="{{popular_animes[i]['image_url']}}" alt="{{popular_animes[i]['title']}}">
                        </span>
                      </div>
                      <div class="info">
                        <div class="name d-title">{{popular_animes[i]['title']}}</div>
                        <div class="meta">
                          <span class="ep-wrap dot">
                            <span class="ep-status score"><i class="fa-sharp fa-solid fa-bolt"></i><span>
                                {{popular_animes[i]['score']}}</span></span>
                            <span class="ep-status total"><span>{{popular_animes[i]['episodes']}}</span></span>
                          </span>
                          <span class="dot"><i class="fa-solid fa-heart"></i> {{popular_animes[i]['favorites']}}</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </aside>
    </div>
  </div>
</div>
<!-- Body Content close -->
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="logos">
          <div class="logo"></div>
          <div class="socials">
            <span>Join now</span>
            <a rel="nofollow" class="twitter" href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a rel="nofollow" class="reddit" href="#" target="_blank"><i class="fa-brands fa-reddit-alien"></i></a>
            <a rel="nofollow" class="discord" href="#" target="_blank"><i class="fa-brands fa-discord"></i></a>
          </div>
        </div>
        <div class="inline-links">
          <label>Help</label>
          <ul>
            <li><a rel="nofollow" href="#">FAQ</a></li>
            <li><a rel="nofollow" href="#">Contact</a></li>
            <li><a href="#" data-toggle="modal">Request</a></li>
          </ul>
        </div>
        <div class="copyright"> Copyright © 9animebay.tv. All Rights Reserved </div>
        <div class="disclaimer"> This site is desined to show showcase working of machine learning recommendation
          algorithms. </div>
      </div>
    </div>
  </div>
</footer>
</div>
{%endblock%}